body{
  font-family:'Helvetica Neue', Arial;
}

/* .a:hover{
  font-family:'Comic Sans MS', Georgia;
  font-size: 20px;
} */

#button1{
  padding:10px;
  border-radius:5px;
  background-color:#aaaaff;
  font-size:30px;
}

#button1:hover{
  background-color:#ffffaa;
}
